.login-wrapper {
  margin: 50px auto;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;

  .login-header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .login-form {
    margin-bottom: 20px;

    &__errors {
      height: 16px;
      font-size: 12px;
      color: red;
    }

    &__errors,
    &__email,
    &__password,
    &__remember {
      margin-bottom: 10px;
    }

    &__remember {
      padding: 5px 0;
    }

    &__submit-btn {
      button {
        background-color: red;
      }
    }
  }

  .login-forgot {
    margin-bottom: 20px;
  }

  .login-need-signup {}
}