<div class="home-wrapper">
  <div class="home-post border border-solid rounded-md shadow-sm p-3">
    <div class="home-post__header mb-2">
      <div class="header__author flex">
        <div class="author__icon border border-solid rounded-full w-10 h-10 overflow-hidden">
          <img src="https://i.ebayimg.com/images/g/Wu0AAOSwf31jnBhG/s-l1200.webp" alt="" srcset="" />
        </div>
        <div class="author__info ml-3">
          <div class="author__info__name font-medium">Chinh</div>
          <div class="author__info__date-post text-sm text-gray-600">Jan 8</div>
        </div>
      </div>
    </div>
    <div
      class="home-post__title text-xl font-medium mb-3 hover:text-indigo-800 hover:cursor-pointer transition-colors"
      routerLink="blog/1"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error illum voluptatum enim optio cupiditate
      dolorem id est eaque recusandae exercitationem, et voluptate a ab eum ducimus, magni voluptas numquam
      quam.
    </div>
    <div class="home-post__image mb-3 overflow-hidden max-h-72">
      <img
        src="https://st4.depositphotos.com/14431644/22076/i/450/depositphotos_220767694-stock-photo-handwriting-text-writing-example-concept.jpg"
        alt=""
        srcset=""
        class="mx-auto object-cover w-full"
      />
    </div>
    <div class="home-post__footer flex text-sm text-gray-600 font-medium">
      <div class="footer__reactions mr-3">Reactions (17)</div>
      <div class="footer__comments">Comments (17)</div>
    </div>
  </div>
  <div class="load-more p-5 w-full text-center">Loading more ...</div>
</div>
