<div class="blog-wrapper">
  <div class="blog-wrapper__author flex mb-5">
    <div class="author__icon border border-solid rounded-full w-10 h-10 overflow-hidden">
      <img src="https://i.ebayimg.com/images/g/Wu0AAOSwf31jnBhG/s-l1200.webp" alt="" srcset="" />
    </div>
    <div class="author__info ml-3">
      <div class="author__info__name font-medium">Chinh</div>
      <div class="author__info__date-post text-sm text-gray-600">Jan 8</div>
    </div>
  </div>
  <div class="blog-wrapper__title text-xl mb-3 font-medium">Title</div>
  <div class="blog-wrapper__rating mb-5 flex">
    <div class="rating__heart">
      <img src="assets/svg/like.svg" alt="" srcset="" />
    </div>
    <div class="rating__unlike"></div>
  </div>
  <div class="blog-wrapper__content mb-5">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea perspiciatis tenetur pariatur ipsum sapiente dolores
    laboriosam incidunt enim error. Numquam delectus aperiam possimus vel quisquam et beatae, maxime aut tempore! Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Quasi perferendis assumenda in aliquam ipsa repellendus
    exercitationem sapiente debitis velit impedit, quod amet eaque, qui reiciendis rem magni id totam aperiam.
  </div>
  <!-- <div class="blog-wrapper__give-rating mb-3">Give rating</div> -->
  <div class="blog-wrapper__comment">
    <div class="blog-wrapper__comment__header"></div>
    <div class="blog-wrapper__comment__input"></div>
    <div class="blog-wrapper__comment__list">
      <div class="comment-item flex">
        <div class="comment-item__icon w-10 h-10 rounded-full border-solid border overflow-hidden">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="comment-item__box flex-1">
          <div class="comment-item__box__content shadow-md ml-4 p-3 border-solid border">
            <div class="header flex pb-3">
              <div class="name mr-4 font-medium">Chinh Le</div>
              <div class="date text-gray-600 text-sm">24 Jan</div>
            </div>
            <div class="content">I am dev</div>
          </div>
          <div class="comment-item__box__action flex ml-4 text-sm text-gray-600 font-medium">
            <div class="like p-2">Like</div>
            <div class="reply p-2">Reply</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
