<div class="user-wrapper relative overflow-x-auto shadow-md sm:rounded-lg">
  <h4>Users</h4>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">ID</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of userData; index as i"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <td class="px-6 py-4">{{ i + 1 }}</td>
        <td class="px-6 py-4">{{ user.name }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">{{ user.role }}</td>
      </tr>
    </tbody>
  </table>

  <div class="panination">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</div>
