<div *ngIf="!(app$ | async)?.isLoading">
  <app-header *ngIf="routerUrl !== '/login'" [app$]="app$ | async"></app-header>
  <main class="bg-slate-100">
    <app-left-sidebar
      [innerWidth]="innerWidth"
      [routerUrl]="routerUrl"
      *ngIf="routerUrl !== '/login'"
    ></app-left-sidebar>
    <div class="content-wrapper relative bg-white flex-1 p-5 mr-3 mb-3 border-solid border shadow-lg">
      <router-outlet></router-outlet>
    </div>
    <app-right-sidebar [innerWidth]="innerWidth" *ngIf="routerUrl !== '/login'"></app-right-sidebar>
  </main>
</div>
<loading [isLoading]="!!(app$ | async)?.isLoading"></loading>
