<div class="right-sidebar-wrapper bg-slate-300 w-48">
  <div class="newest-topic-wrapper">
    <div class="newest-item flex align-middle hover:bg-slate-500 hover:cursor-pointer" routerLink="user">
      <div class="newest-item__logo p-2">***</div>
      <div class="newest-item__name py-2">Dashboard</div>
    </div>
    <div class="newest-item flex align-middle hover:bg-slate-500 hover:cursor-pointer" routerLink="user">
      <div class="newest-item__logo p-2">***</div>
      <div class="newest-item__name py-2">Dashboard</div>
    </div>
    <div class="newest-item flex align-middle hover:bg-slate-500 hover:cursor-pointer" routerLink="user">
      <div class="newest-item__logo p-2">***</div>
      <div class="newest-item__name py-2">Dashboard</div>
    </div>
  </div>
</div>
