<div class="user-detail-wrapper">
  <div class="header flex justify-between items-center h-16 mb-5">
    <div class="title text-2xl font-medium">User detail</div>
    <div class="flex">
      <div class="mr-3">
        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          (click)="onEditClicked($event)"
        >
          {{ isEditMode ? 'Save' : 'Edit' }}
        </button>
      </div>
      <div *ngIf="isEditMode">
        <button
          class="bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded"
          (click)="isEditMode = false"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="flex relative items-center mb-5">
    <div class="profile-image w-24 h-24 rounded-full overflow-hidden border border-solid mr-3">
      <img [src]="user.profileImgUrl" alt="Profile photo" srcset="" class="object-contain h-full w-full" />
    </div>
    <div class="font-medium text-lg">{{ user.email }}</div>
  </div>
  <div class="basic-info grid grid-cols-12 -mr-5" *ngIf="!isEditMode">
    <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14">
      <div class="label mr-2">Name:</div>
      <div class="value">{{ user.name }}</div>
    </div>
    <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14 mr-5">
      <div class="label mr-2">Email:</div>
      <div class="value">{{ user.email }}</div>
    </div>
    <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14 mr-5">
      <div class="label mr-2">Address:</div>
      <div class="value">{{ user.address }}</div>
    </div>
    <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14 mr-5">
      <div class="label mr-2">Phone:</div>
      <div class="value">{{ user.phone }}</div>
    </div>
  </div>
  <div class="basic-info grid grid-cols-12" *ngIf="isEditMode">
    <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14 mr-5">
      <div class="label mr-2">Name:</div>
      <div class="value-edit">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
          [formControl]="userName"
        />
      </div>
    </div>
  </div>
  <div class="basic-info grid grid-cols-12" *ngIf="isEditMode">
    <form action="" method="post">
      <div class="name flex items-center col-span-12 sm:col-span-12 md:col-span-6 h-14 mr-5">
        <div class="label mr-2">Profile:</div>
        <div class="value-edit">
          <input type="file" (change)="onFileSelected($event)" #fileUpload />
          <!-- <div (click)="fileUpload.click()">Click upload</div> -->
        </div>
        <div>
          <button
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            (click)="onUploadProfileImage($event)"
          >
            Click upload
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
