<div class="left-sidebar-wrapper h-scree w-48 p-3">
  <div class="nav-wrapper">
    <div class="nav-item flex align-middle hover:bg-slate-500 hover:cursor-pointer rounded-md" routerLink="user">
      <div class="nav-item__logo p-2">***</div>
      <div class="nav-item__name py-2">Dashboard</div>
    </div>
    <div class="nav-item flex align-middle hover:bg-slate-500 hover:cursor-pointer rounded-md" routerLink="user">
      <div class="nav-item__logo p-2">***</div>
      <div class="nav-item__name py-2">Dashboard</div>
    </div>
    <div class="nav-item flex align-middle hover:bg-slate-500 hover:cursor-pointer rounded-md" routerLink="user">
      <div class="nav-item__logo p-2">***</div>
      <div class="nav-item__name py-2">Dashboard</div>
    </div>
  </div>
</div>
